/* assignment code start*/
.hero{
    display: flex;
    justify-content: center;
}
.hero-a{
    border-right: 2px solid red;
    padding: 20px;
    
}


/* assignment code end */
.head_section{
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_a{
   display: block;
}
.section_ab{
    border-right: 5px #42cd42 ;
    height: 500px;
}
.section_a_para{
    display: flex;
}